@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{
    background: rgba(184, 182, 179, 0);
    padding:75px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}

* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

a.disabled {
    pointer-events: none;
    color: gray;
}
label{
    display: block;
}
.success{
    color: #009601;
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin:0;
    padding:0;
    width: 100%;
}
table tr {
    border: 1px solid #ddd;
    padding: 5px;
}
table th, table td {
    padding: 10px;
    text-align: center;
}
table th {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table thead {
        display: none;
    }
    table tr {
        border-bottom: 2px solid #ddd;
        display: block;
        margin-bottom: 10px;
    }
    table td {
        border-bottom: 1px dotted #ccc;
        display: block;
        font-size: 13px;
        text-align: right;
    }
    table td:last-child {
        border-bottom: 0;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}

h1{
    color:#c0c0c0;
    font-weight:100;
}

.link{
    color: #b8b8b8;
    background:rgba(0, 0, 0, 0.5);
    padding:10px 20px;
    font-size:12px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
}
.active{
    color: #f3f3f3;
    background: rgba(1, 1, 1, 0.68);
    padding:10px 20px;
    font-size:12px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
    pointer-events: none;
}

.link:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background:#fff;
    padding:20px 20px; #000;
    color:#1b1b1b;
}

.btn {
    padding: 8px 20px;
    border-radius: 0;
    overflow: hidden;
}

.warning{
    color: #ea2600;
}